:root {
    --light: #ddd;
    --dark:  #333;

    color-scheme: light dark;
}

body {
    width: 70%;
    margin: auto;
    font-size: 12pt;

    background: var(--light);
    color: var(--dark);
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark);
        color: var(--light);
    }
}
